<% include ../partials/header %>
<% if (currentUser && currentUser.isAdmin){ %>
    <h1>You Are Admin!</h1>
<% } %>
<header class="jumbotron">
    <div class="container">
        <h1>Campground Page</h1>
        <p>View our hand-picked campgrounds!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">New Campground</a>
        </p>
        <form action="/campgrounds" method="get" class="form-inline">
            <div class="form-group">
                <input type="text" name="search" placeholder="Campground search..." class="form-control">
                <input type="submit" value="Search" class="btn btn-default">
            </div>
        </form>
    </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap">
    <% campgrounds.forEach(function (campground) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img alt="" src="<%= campground.image.url %>" style="max-height: 250px;">
                <div class="caption">
                    <h4>
                        <%= campground.name %>
                    </h4>
                </div>
                <p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>" class="btn btn-p">More Info</a>
                </p>
            </div>

        </div>
    <% }); %>
</div>

<% include ../partials/footer %>
